<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Devlop CodeMan Portfolio </title>
    <link rel="icon" href="data:;base64,=">
    <link rel="icon" type="image/ico" href="/images/logo.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="/js/main.js?v=1.0"></script>
    <script type="module" src="/js/rotationBrain.js"></script>
    <script type="module" src="/js/sceneLighting.js"></script>
    <script type="module" src="/js/brainModel.js"></script>
    <script type="module" src="/js/myLogo.js"></script>
    <script type="module" src="/js/JSButton.js"></script>

</head>
<body>
<div id="canvas-container"></div>
<div id="logo-container"></div>

<script type="module" src="https://cdn.skypack.dev/three@0.132.2/build/three.module.js"></script>
<script type="module" src="https://cdn.skypack.dev/three@0.132.2/examples/jsm/loaders/GLTFLoader.js"></script>
</body>
</html>
